/* h1 {
    @apply text-[10rem] font-bold font-(family-name:--font-display);
} */

.ts-title {
    font-size: 80px;
    line-height: 60px;
    text-transform: uppercase;
    font-family: 'Cinderblock-100', sans-serif;
}

.ts-body {
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'IBM Plex Mono', monospace;
}

.ts-little {
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-family: 'IBM Plex Mono', monospace;
}

.ts-big {
    font-size: 200px;
    line-height: 160px;
    text-transform: uppercase;
    font-family: 'Cinderblock-100', sans-serif;
}