---
import MainLayout from "../layouts/MainLayout.astro";
import contactData from "../data/contact-data.json";
---

<MainLayout title="Portfolio - Contact" namespace="contact">
  <section
    class="transition-section absolute inset-0 w-full h-screen m-auto overflow-hidden"
    style="right: calc(100% - 11.8rem); height: 90%; width: 11.8rem;"
  >
    <nav class="absolute top-1/2 left-0 right-0 z-10 -translate-y-full">
      <ul class="flex items-center justify-between w-full">
        <li>
          <a class="ts-little transition-link block" href="/" data-barba>Back</a
          >
        </li>
      </ul>
    </nav>
    <div class="relative w-full h-screen">
      <img
        src="/images/chaillot/e242fbc5805242d87b1ede75387c2de2d13c0fbd_3908f48bc3.png"
        alt="Chaillot"
        class="w-full h-screen object-cover"
      />
    </div>
  </section>

  <!-- Hero Section -->
  <section
    class="relative h-screen flex flex-col justify-between p-6 overflow-hidden"
  >
    <div class="grid grid-cols-12 gap-6">
      <div class="col-span-11 col-start-2 text-center">
        <div
          class="flex items-center justify-center ts-body"
          data-text-split="chars"
          data-text-animation="fade"
        >
          {
            contactData.info.contacts.map((rs, index) => (
              <Fragment>{rs.label}</Fragment>
            ))
          }
        </div>
      </div>
    </div>
    <div
      class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full"
    >
      <div class="grid grid-cols-12 gap-6">
        <div class="col-span-11 col-start-2">
          <h1
            class="ts-big text-center"
            data-text-split="lines"
            data-text-animation="slideUp"
            data-text-duration="0.8"
            data-text-trigger="load"
          >
            <Fragment set:html={contactData.hero.title} />
          </h1>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-12 gap-6">
      <div class="col-span-3 col-start-6">
        <p
          class="ts-little text-center"
          data-text-split="lines"
          data-text-animation="slideUp"
          data-text-trigger="load"
        >
          {contactData.info.email}
        </p>
      </div>
    </div>
  </section>
</MainLayout>
