---
import MainLayout from "../layouts/MainLayout.astro";
import homeData from "../data/home-data.json";
---

<MainLayout title="Portfolio - Accueil" namespace="home">
  <!-- Hero Section -->
  <section
    class="mainHome absolute inset-0 w-full h-screen m-auto overflow-hidden"
  >
    <nav
      class="absolute top-1/2 left-0 right-0 z-10 px-[1rem] md:px-[2rem] -translate-y-full pb-[2rem]"
    >
      <ul class="flex items-center justify-between w-full">
        <li>
          <a class="ts-little transition-link block" href="/about" data-barba
            >About</a
          >
        </li>
        <li>
          <a class="ts-little transition-link block" href="/contact" data-barba
            >Contact</a
          >
        </li>
      </ul>
    </nav>

    <div class="relative w-full h-screen">
      <img
        src="/images/chaillot/e242fbc5805242d87b1ede75387c2de2d13c0fbd_3908f48bc3.png"
        alt="Chaillot"
        class="w-full h-screen object-cover"
      />
    </div>
  </section>
</MainLayout>
