---
interface Props {
  title: string;
  namespace: string;
}

const { title, namespace } = Astro.props;
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/src/styles/global.css" />
  </head>
  <body class="bg-[#232323] text-[#EAE8DE] uppercase">
    <div data-barba="wrapper">
      <!-- Container Barba pour le contenu des pages -->
      <main
        class="relative min-h-screen"
        data-barba="container"
        data-barba-namespace={namespace}
      >
        <slot />
      </main>
    </div>

    <script>
      import "../scripts/main.js";
    </script>
  </body>
</html>
